body{
    background-color: beige;
    padding: 20px;
}

a {
    font-weight: bold;
    color: crimson;
}

h2,h3 {
    color: blueviolet;
    text-align: center;
}

.text {
    color: darkslategrey;
    text-align: justify;
}

.codeDiv {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills {
    font-size: medium;
}

